<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="index.html"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-dollar-sign"></i>
    </div>
    <div class="sidebar-brand-text mx-3">My Shopping<sup> Web Site</sup></div>
  </a>


  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />
  <li class="nav-item active">
    <a class="nav-link" href="index.html"  routerLink="/user">
      <i class="fa fa-user"></i>

      <span><strong>Users</strong></span></a>

  </li>
  <hr class="sidebar-divider my-0" />

  <li class="nav-item active">
    <a class="nav-link" href="index.html"  routerLink="/product">
    <span><strong>Products</strong></span></a>
  </li>
  <hr class="sidebar-divider my-0" />
  <li class="nav-item active">
    <a class="nav-link" href="index.html"  routerLink="/category">
      <span><strong>Categories</strong></span></a>
  </li>
  <hr class="sidebar-divider my-0" />


  <!-- Nav Item - Pages Collapse Menu -->

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span><strong>Features</strong></span>
    </a>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a
          routerLink="/product"
          class="collapse-item"
          href="buttons.html "
          style="color: red; text-decoration: underline"
          >Products</a
        >
        <a
          routerLink="/user"
          class="collapse-item"
          href="buttons.html "
          style="color: red; text-decoration: underline"
          >Users</a
        >
        <a
          routerLink="/category"
          class="collapse-item"
          href="buttons.html "
          style="color: red; text-decoration: underline"
          >Categories</a
        >
      </div>
    </div>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider" />

</ul>
